.computer-client-header {
    display: flex;
    justify-content: space-between;
    
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin: auto auto;
  }
  
  .logo h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color:blanchedalmond;
    border-color:rgb(1, 0, 0);
  }
  
  .navigation ul li {
    margin-right: 20px;
  }
  
  .navigation ul li:last-child {
    margin-right: 0;
  }
  
  .nav-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
  }
  
  .nav-link:hover {
    background-color: #ddd;
  }
  